body {
  margin:0px;
  font-family:Uber;
  font-size:14px;
  background-color:rgb(250, 250, 250);
  padding-top:40px;
}

*::-webkit-scrollbar {
  width:0em!important;
}

*:focus {
  outline:none!important;
}

@font-face {
  font-family:Uber;
  src:url('../fonts/Uber\ Move\ Text.ttf');
}

#navbar_wrapper {
  height:40px;
  width:100%;
  position:fixed;
  top:0px;
  left:0px;
  background-color:white;
  border-bottom:1px solid rgb(230, 230, 230);
  border-top:1px solid rgb(230, 230, 230);
  box-sizing:border-box;
}

#navbar {
  padding:0px 20px;
  display:flex;
  max-width:870px;
  justify-content:space-between;
  margin:0px auto;
}

#navbar_logo {
  height:26px;
  margin-top:6px;
}

.navbar_item {
  float:left;
  display:flex;
  align-items:center;
  height:40px;
  padding-left:20px;
  font-size:13px;
}

.navbar_item a {
  color:grey;
  text-decoration:none;
}

.navbar_item.active a {
  color:#FF8A00;
  text-decoration:none;
}

#navbar_avatar_circle {
  height:26px;
  width:26px;
  border-radius:100%;
  background-image:url('../assets/avatar_example.jpg');
  background-size:cover;
  background-position:center;
}

.hoverable:hover {
  opacity:0.7;
  cursor:pointer;
}

#content_wrapper {
  padding:20px;
  display:flex;
  max-width:870px;
  margin:0px auto;
  justify-content:space-between;
}

#feed_details_wrapper {
  width:250px;
}

#feed_details {
  background-color:white;
  border:1px solid rgb(230, 230, 230);
  width:100%;
  border-radius:3px;
  overflow:hidden;
}

#feed_details_avatar {
  width:100%;
  margin:0px;
  margin-bottom:10px;
}

#feed_details_person {
  font-size:16px;
  font-weight:bold;
  margin:0px;
  margin-bottom:10px;
  text-align:center;
  width:100%;
}

#feed_details_location {
  color:grey;
  margin:0px;
  margin-bottom:10px;
  text-align:center;
  width:100%;
}

#feed_details_wrapper hr {
  border:0.5px solid rgb(230, 230, 230)!important;
  margin-bottom:10px;
}

#feed_stats_wrapper {
  display:flex;
  height:20px;
  width:100%;
  margin-bottom:10px;
}

#feed_stats_wrapper span {
  width:50%;
  line-height:20px;
  text-align:center;
  color:#FF8A00;
}

.vr {
  height:100%;
  width:0px;
  border:0.5px solid rgb(230, 230, 23);
}

#feed_details_links {
  width:100%;
  margin:10px 0px;
}

#feed_details_copyright {
  margin:0px;
  color:rgb(150, 150, 150);
  font-size:12px;
}

#feed_details_links a {
  margin-bottom:10px;
  margin-right:8px;
  display:inline-block;
  color:grey;
  font-size:12px;
  text-decoration:none;
}

#feed_posts_wrapper {
  width:calc(100% - 270px);
  max-width:600px;
}

#profile_options {
  width:200px;
  height:200px;
  position:fixed;
  top:50px;
  background-color:white;
  box-sizing:border-box;
  border:1px solid rgb(230, 230, 230);
  border-radius:3px;
  overflow:hidden;
  display:none;
}

.feed_block {
  width:100%;
  background-color:white;
  border-radius:3px;
  border:1px solid rgb(230, 230, 230);
  padding:10px;
  box-sizing:border-box;
  margin-bottom:20px;
}

#quest_creator {
  display:flex;
}

#quest_creator_avatar {
  height:30px;
  width:30px;
  background-image:url('../assets/avatar_example.jpg');
  background-size:cover;
  background-position:center;
  border-radius:100%;
  margin-right:10px;
}

#quest_creator_input {
  height:30px;
  box-sizing:border-box;
  width:calc(100% - 40px);
  border-radius:100px;
  padding:0px 15px;
  border:none;
  background-color:rgb(240, 240, 240);
}

#quest_creator_submit {
  height:30px;
  width:30px;
  margin-left:10px;
  background-color:#FF8A00;
  border-radius:100%;
  padding-top:4px;
  padding-left:8px;
  border:none;
  display:none;
}

#quest_creator_submit img {
  height:14px;
  width:10px;
}

.post_header {
  height:30px;
  width:100%;
  display:flex;
}

.post_avatar {
  height:30px;
  width:30px;
  background-position:center;
  background-size:cover;
  border-radius:100%;
  background-image:url('../assets/avatar_example.jpg');
}

.post_details {
  height:30px;
  width:calc(100% - 80px);
  margin:0px 10px;
  line-height:30px;
  font-weight:bold;
}

.post_menu_toggle_wrapper {
  width:26px;
  height:30px;
}

.post_menu_toggle {
  height:26px;
  border:none;
  width:26px;
  margin:2px 0px;
  background-color:white;
  border-radius:100%;
  background-image:url('../assets/post_ellipsis.png');
  background-size:14px 14px;
  background-position:center;
  background-repeat:no-repeat;
  cursor:pointer;
  z-index:1;
}

.post_menu_toggle:hover {
  background-color:rgb(240, 240, 240);
}

.post_menu_options {
  width:150px;
  position:relative;
  float:right;
  height:100px;
  background-color:white;
  border-radius:3px;
  border:1px solid rgb(230, 230, 230);
  display:none;
  z-index:100;
}

.post_content {
  margin:10px 0px;
  color:rgb(100, 100, 100);
  line-height:20px;
  font-size:13px;
}

.post_footer {
  height:30px;
  width:100%;
  display:flex;
  justify-content:space-between;
}

.post_like {
  height:30px;
  border:none;
  display:flex;
  align-items:center;
  padding:0px;
  background-color:white;
  color:#FF8A00;
}

.post_like svg {
  height:14px;
  width:14px;
  margin-right:10px;
}

.post_like svg path {
  fill:#FF8A00;
}

.post_footer_users {
  background-color:rgb(245, 245, 245);
  height:30px;
  display:flex;
  border-radius:100px;
}

.post_footer_user_circle {
  background-image:url('../assets/avatar_example.jpg');
  background-size:cover;
  background-position:center;
  border-radius:100%;
  height:24px;
  min-width:24px;
  margin:3px;
}

.post_footer_user_circle.plus_user_circle {
  background-image:none;
  background-color:#FFE7CA;
  padding:0px 10px!important;
  border-radius:100px;
  text-align:center;
  color:#FF8A00;
  line-height:24px;
}

#message_content_wrapper {
  display:flex;
  padding:20px;
  max-width:870px;
  margin:0px auto;
  justify-content:space-between;
}

#conversation_list_wrapper {
  background-color:white;
  height:calc(100vh - 80px);
  width:250px;
  border-radius:3px 0px 0px 3px;
  border:1px solid rgb(230, 230, 230);
  box-sizing:border-box;
}

#conversation_list_wrapper a {
  text-decoration:none;
}

#conversation_main_wrapper {
  background-color:white;
  height:calc(100vh - 80px);
  flex:1;
  border-radius:0px 3px 3px 0px;
  border:1px solid rgb(230, 230, 230);
  border-left:0px;
  box-sizing:border-box;
  display:flex;
  flex-direction:column;
}

#conversation_header {
  height:50px;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  border-bottom:1px solid rgb(240, 240, 240);
  box-sizing:border-box;
  padding:10px 15px;
  background-color:rgb(252, 252, 252);
}

#conversation_header_content {
  height:100%;
  width:100%;
  display:flex;
}

#conversation_header_content a {
  text-decoration:none;
}

#conversation_header_avatar {
  height:30px;
  width:30px;
  background-image:url('../assets/avatar_example.jpg');
  background-size:cover;
  background-position:center;
  border-radius:100%;
}

#conversation_header_title {
  height:30px;
  display:flex;
  align-items:center;
  color:black;
  margin-left:10px;
}

#conversation_header_settings {
  width:20px;
  height:20px;
  border:none;
  padding:0px!important;
  cursor:pointer;
  background-color:transparent;
}

#conversation_body {
  flex:1;
  width:100%;
  overflow-y:scroll;
}

#conversation_footer {
  height:50px;
  width:100%;
  border-top:1px solid rgb(240, 240, 240);
  padding:10px 15px;
  display:flex;
  box-sizing:border-box;
  background-color:rgb(252, 252, 252);
}

#conversation_footer_input {
  height:30px;
  flex:1;
  padding:0px 15px;
  border:1px solid rgb(240, 240, 240);
  background-color:white;
  box-sizing:border-box;
  border-radius:3px;
}

#conversation_footer_button {
  height:30px;
  width:30px;
  margin-left:10px;
  cursor:pointer;
  border-radius:100%;
  border:none;
  background-color:#FF8A00;
  display:flex;
  justify-content:center;
  align-items:center;
}

#conversation_footer_button img {
  height:14px;
  width:14px;
  margin-left:1px;
}

#conversation_footer_button:hover {
  opacity:0.7;
}

#conversation_list_header {
  height:40px;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  border-bottom:1px solid rgb(240, 240, 240);
  box-sizing:border-box;
  background-color:rgb(252, 252, 252);
}

#conversation_list_scrollable_content {
  height:calc(100% - 40px);
  width:100%;
  box-sizing:border-box;
  overflow-y:scroll;
}

#conversation_list_filter_input {
  background-color:rgb(240, 240, 240);
  height:24px;
  padding:0px 10px;
  box-sizing:border-box;
  border:1px solid rgb(230, 230, 230);
  width:calc(100% - 30px);
  border-radius:3px;
}

.conversation_item {
  height:60px;
  width:100%;
  background-color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  box-sizing:border-box;
}

.conversation_item:hover {
  background-color:rgb(245, 245, 245);
}

.conversation_item:last-child {
  border:none;
}

.conversation_item_avatar {
  height:40px;
  width:40px;
  border-radius:100%;
  background-image:url('../assets/avatar_example.jpg');
  background-size:cover;
  background-position:center;
}

.conversation_item_details {
  height:40px;
  width:calc(100% - 80px);
  margin-left:10px;
}

.conversation_item_title {
  height:20px;
  width:100%;
  color:black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.conversation_item_sample {
  height:20px;
  width:100%;
  line-height:22px;
  font-size:12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color:grey;
}

.message_wrapper {
  width:100%;
  padding:15px;
  align-items:flex-end;
  box-sizing:border-box;
  display:flex;
}

.message_wrapper:hover .message_time {
  opacity:1;
}

.message_avatar {
  height:24px;
  width:24px;
  background-image:url('../assets/avatar_example.jpg');
  background-size:cover;
  background-position:center;
  border-radius:100%;
}

.message_content {
  padding:10px;
  box-sizing:border-box;
  max-width:calc(100% - 200px);
  margin:0px 10px;
}

.message_left .message_content {
  border-radius:10px 10px 10px 0px;
  background-color:rgb(245, 245, 245);
}

.message_right {
  flex-direction:row-reverse;
}

.message_right .message_content {
  border-radius:10px 10px 0px 10px;
  background-color:#FF8A00;
  color:white;
}

.message_time {
  color:grey;
  opacity:0;
  transition:opacity 0.07s ease-in-out;
}

#feed_requests_wrapper {
  width:calc(100% - 270px);
  max-width:600px;
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-gap:20px;
  overflow-y:scroll;
}

.request_wrapper {
  background-color:white;
  border:1px solid rgb(240, 240, 240);
  border-radius:3px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  height:230px;
}

.request_wrapper a {
  text-decoration:none;
}

.request_avatar {
  height:90px;
  width:90px;
  border-radius:100%;
  background-image:url('../assets/avatar_example.jpg');
  background-size:cover;
  background-position:center;
  margin-bottom:10px;
}

.request_name {
  height:14px;
  color:black;
}

.request_level {
  margin:5px 0px;
  color:#FF8A00;
  height:14px;
}

.request_accept_button {
  height:30px;
  width:calc(100% - 40px);
  background-color:#FF8A00;
  color:white;
  border-radius:3px;
  border:none;
  margin-top:10px;
}

.request_accept_button:hover {
  opacity:0.7;
  cursor:pointer;
}

#profile_exp_details {
  width:100%;
  display:flex;
  box-sizing:border-box;
  justify-content:space-between;
  padding:20px;
  padding-bottom:10px;
}

#profile_exp_lvl {
  color:#FF8A00;
}

#profile_exp_data {
  color:grey;
}

#profile_exp_bar_wrapper {
  width:calc(100% - 40px);
  height:3px;
  background-color:rgb(230, 230, 230);
  margin:0px auto;
  margin-bottom:20px;
  display:flex;
}

#profile_exp_bar {
  height:3px;
  width:50%;
  background-color:#FF8A00;
}

#profile_main_wrapper {
  display:flex;
  margin-bottom:20px;
}

#profile_main_details {
  flex:1;
  margin-left:10px;
}

#profile_avatar {
  height:80px;
  width:80px;
  border-radius:100%;
  background-image:url('../assets/avatar_example.jpg');
  background-size:cover;
  background-position:center;
}

#profile_name {
  margin-bottom:10px;
}

#profile_button_wrapper {
  width:100%;
  height:30px;
  margin-top:10px;
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap:20px;
}

.profile_button {
  border:1px solid rgb(230, 230, 230);
  background-color:rgb(245, 245, 245);
  cursor:pointer;
}

.profile_button:hover {
  opacity:0.7;
}

.modal_shadow {
  position:fixed;
  top:0;
  left:0;
  background-color:rgba(0, 0, 0, 0.3);
  height:100vh;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.modal_window {
  background-color:white;
  padding:20px;
  box-sizing:border-box;
  border-radius:5px;
}